# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Raffael\Desktop\Hesso2Semester\4.Semester\Information System Security\DigitalAndAnalogClocks\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
